<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jade Kawakami - </title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <nav id="menu" class="navbar navbar-default navbar-jade navbar-fixed-top">
      <div class="container-fluid menu-container">
          <a class="navbar-brand navbar-logo " href="/">
            <img src="../img/logo/logo-jdkw-menor-red.png" alt="">
          </a>
        <div class="nav navbar-nav navbar-right">
          <a class="navbar-menu-jade" role="button" id="showTop">
            <i class="fa fa-bars fa-2x black"></i>
          </a>
        </div>
      </div>

        <div class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
        	<div class="container-fluid">
            <div class="row no-gutter">
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="producao-e-styling-de-moda.html" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Producao_e_Stylign_Editorial.JPG" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Produção e Styling
                            </div>
                            <p class="text-uppercase">Editorial</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6  item-menu-jade">
                  <a href="producao-e-styling-publicidade.html" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Producao_e_Stylign_Publicidade.JPG" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                            <div class="project-category">
                              Produção e Styling
                            </div>
                            <p class="text-uppercase">Publicidade</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Design_de_Superficie.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Design de Superficie
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="/" class="portfolio-box">
                      <img src="../img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Home
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="" class="portfolio-box">
                      <img src="../img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Sobre
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="" class="portfolio-box">
                      <img src="../img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Contato
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
        	</div>
        </div>
    </nav>



    <section class="no-padding margin-top-100 container container-jade">
      <h1 class="text-center">Publicidade</h1>
      <div class="row popup-gallery">
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-1"><a href="../img/fullsize/lsd-sampa-7.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Easy-Taxi-Palhaco.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-2"><a href="../img/fullsize/lsd-sampa-5.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-1.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-3"><a href="../img/fullsize/lsd-sampa-4.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Fusion-Energy-Drink-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-4"><a href="../img/fullsize/lsd-sampa-1.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Easy-Taxi-Carteiro.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-5"><a href="../img/fullsize/lsd-sampa-6.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-2.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-6"><a href="../img/fullsize/lsd-sampa-8.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Fusion-Energy-Drink-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/lsd-sampa-9.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Easy-Taxi-Lutador.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-8"><a href="../img/fullsize/lsd-sampa-3.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-3.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-9"><a href="../img/fullsize/lsd-sampa-2.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Fusion-Energy-Drink-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-8 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/lsd-sampa-9.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Freddo-Rua.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-8"><a href="../img/fullsize/lsd-sampa-3.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Freddo-Escada.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-9"><a href="../img/fullsize/lsd-sampa-2.jpeg"><img src="../img/producao-e-styling-publicidade/REDPC-Freddo-Escada.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/REDPC-Claro-3.jpg"><img src="../img/producao-e-styling-publicidade/REDPC-Claro-3.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-8"><a href="../img/fullsize/REDPC-Claro-4.jpg"><img src="../img/producao-e-styling-publicidade/REDPC-Claro-4.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-9"><a href="../img/fullsize/REDPC-Claro-1.jpg"><img src="../img/producao-e-styling-publicidade/REDPC-Claro-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/REDPC-Tresemme-1.jpg"><img src="../img/producao-e-styling-publicidade/REDPC-Tresemme-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/REDPC-Tresemme-2.jpg"><img src="../img/producao-e-styling-publicidade/REDPC-Tresemme-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
      </div>
    </section>


    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../js/classie.js"></script>
    <!-- Theme JavaScript -->
    <script src="../js/creative.min.js"></script>

</body>

</html>
