<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />

    <title>Jade Kawakami</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="../css/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="../css/hamburgers.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" oncontextmenu="return false">
  <!-- preloader -->
  <div id="preloader">
    <img src="../img/preloader/grid.svg" alt="">
  </div>

    <nav id="menu" class="navbar navbar-default navbar-jade navbar-fixed-top">
      <div class="container-fluid menu-container no-padding-mb">
          <a class="navbar-brand navbar-logo " href="/">
            <img src="../img/logo/logo-jdkw-menor-red.png" alt="">
          </a>
        <div class="nav navbar-nav navbar-right">
          <a class="navbar-menu-jade" role="button" id="showTop">
            <!-- <i class="fa fa-bars fa-2x black"></i> -->
            <button class="hamburger hamburger--spin" type="button" id="hamburgerMenu">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </a>
        </div>
      </div>

        <div class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
        	<div class="container-fluid">
            <div class="row no-gutter">
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="producao-e-styling-de-moda.html" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Producao_e_Stylign_Editorial.JPG" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Produção e Styling
                            </div>
                            <p class="text-uppercase">Editorial</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6  item-menu-jade">
                  <a href="producao-e-styling-publicidade.html" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Producao_e_Stylign_Publicidade.JPG" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                            <div class="project-category">
                              Produção e Styling
                            </div>
                            <p class="text-uppercase">Publicidade</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="design-de-superficie.html" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Design_de_Superficie.jpg" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Design de Superficie
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="/" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Home.JPG" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Home
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="sobre.html" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Sobre.JPG" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Sobre
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-6 item-menu-jade">
                  <a href="contato.html" class="portfolio-box">
                      <img src="../img/thumbnails/Menu_Contato.JPG" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category">
                                  Contato
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
        	</div>
        </div>
        </div>
    </nav>

    <a href="#" class="scrollToTop hidden-xs"><i class="fa fa-arrow-up fa-2x"></i></a>

    <section class="no-padding margin-top-78 container container-jade hidden-xs">
      <h1 class="text-center title-page">Produção e Styling de Moda | Publicidade</h1>
      <div class="row popup-gallery">
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-1"><a href="../img/fullsize/Easy-Taxi-Palhaco.jpg" title="Easy Taxi | Cannes Lions"><img src="../img/producao-e-styling-publicidade/REDPC-Easy-Taxi-Palhaco.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-4"><a href="../img/fullsize/Easy-Taxi-Carteiro.jpg" title="Easy Taxi | Cannes Lions"><img src="../img/producao-e-styling-publicidade/REDPC-Easy-Taxi-Carteiro.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Easy-Taxi-Lutador.jpg" title="Easy Taxi | Cannes Lions"><img src="../img/producao-e-styling-publicidade/REDPC-Easy-Taxi-Lutador.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-2"><a href="../img/fullsize/Youtube-1.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-5"><a href="../img/fullsize/Youtube-2.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-8"><a href="../img/fullsize/Youtube-3.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-2"><a href="../img/fullsize/Youtube-8.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-8.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-2"><a href="../img/fullsize/Youtube-11.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-11.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-2"><a href="../img/fullsize/Youtube-9.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade/REDPC-Youtube-9.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-3"><a href="../img/fullsize/Fusion-Energy-Drink-1.jpg" title="Fusion Energy Drink"><img src="../img/producao-e-styling-publicidade/REDPC-Fusion-Energy-Drink-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-6"><a href="../img/fullsize/Fusion-Energy-Drink-2.jpg" title="Fusion Energy Drink"><img src="../img/producao-e-styling-publicidade/REDPC-Fusion-Energy-Drink-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-9"><a href="../img/fullsize/Fusion-Energy-Drink-3.jpg" title="Fusion Energy Drink"><img src="../img/producao-e-styling-publicidade/REDPC-Fusion-Energy-Drink-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-8 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Freddo-Rua.jpg" title="Freddo | Cannes Lions - Ouro na categoria Print"><img src="../img/producao-e-styling-publicidade/REDPC-Freddo-Rua.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-8"><a href="../img/fullsize/Freddo-Jardim.jpg" title="Freddo | Cannes Lions - Ouro na categoria Print"><img src="../img/producao-e-styling-publicidade/REDPC-Freddo-Jardim.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-9"><a href="../img/fullsize/Freddo-Escada.jpg" title="Freddo | Cannes Lions - Ouro na categoria Print"><img src="../img/producao-e-styling-publicidade/REDPC-Freddo-Escada.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Claro-3.jpg" title="NetClaro"><img src="../img/producao-e-styling-publicidade/REDPC-Claro-3.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-8"><a href="../img/fullsize/Claro-4.jpg" title="NetClaro"><img src="../img/producao-e-styling-publicidade/REDPC-Claro-4.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-9"><a href="../img/fullsize/Claro-1.jpg" title="NetClaro"><img src="../img/producao-e-styling-publicidade/REDPC-Claro-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Tresemme-1.jpg" title="Tresemmé"><img src="../img/producao-e-styling-publicidade/REDPC-Tresemme-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Tresemme-2.jpg" title="Tresemmé"><img src="../img/producao-e-styling-publicidade/REDPC-Tresemme-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Azul-Linhas-Aereas.jpg" title="Linhas aéreas Azul"><img src="../img/producao-e-styling-publicidade/REDPC-Azul-Linhas-Aereas.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-8 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Azul-Linhas-Aereas-2.jpg" title="Linhas aéreas Azul"><img src="../img/producao-e-styling-publicidade/REDPC-Azul-Linhas-Aereas-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-12 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Itau.jpg" title="Itaú"><img src="../img/producao-e-styling-publicidade/REDPC-Itau.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/serasa-4.jpg" title="Serasa"><img src="../img/producao-e-styling-publicidade/REDPC-serasa-4.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/serasa-5.jpg" title="Serasa"><img src="../img/producao-e-styling-publicidade/REDPC-serasa-5.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Samsung-Olimpiadas-3.jpg" title="Samsung"><img src="../img/producao-e-styling-publicidade/REDPC-Samsung-Olimpiadas-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Samsung-Olimpiadas-4.JPG" title="Samsung"><img src="../img/producao-e-styling-publicidade/REDPC-Samsung-Olimpiadas-4.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/hyundai-1.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade/REDPC-Hyundai-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/hyundai-2.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade/REDPC-Hyundai-2.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Hyundai-4.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade/REDPC-Hyundai-4.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Hyundai-3.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade/REDPC-Hyundai-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
      </div>
    </section>

    <!-- mobile -->
    <section class="no-padding margin-top-78 container container-jade visible-xs">
      <h1 class="text-center">Publicidade</h1>
      <div class="row popup-gallery no-margin">
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-1"><a href="../img/fullsize/Easy-Taxi-Palhaco.jpg" title="Easy Taxi | Cannes Lions"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-easy-taxi-palhaco.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-4"><a href="../img/fullsize/Easy-Taxi-Carteiro.jpg" title="Easy Taxi | Cannes Lions"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-easy-taxi-carteiro.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Easy-Taxi-Lutador.jpg" title="Easy Taxi | Cannes Lions"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-easy-taxi-lutador.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-3"><a href="../img/fullsize/Fusion-Energy-Drink-1.jpg" title="Fusion Energy Drink"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-fusion-energy-drink-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-6"><a href="../img/fullsize/Fusion-Energy-Drink-2.jpg" title="Fusion Energy Drink"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-fusion-energy-drink-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-9"><a href="../img/fullsize/Fusion-Energy-Drink-3.jpg" title="Fusion Energy Drink"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-fusion-energy-drink-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-8"><a href="../img/fullsize/Youtube-3.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-Youtube-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-2"><a href="../img/fullsize/Youtube-2.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-Youtube-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-5"><a href="../img/fullsize/Youtube-11.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-Youtube-11.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-5"><a href="../img/fullsize/Youtube-1.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-Youtube-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-5"><a href="../img/fullsize/Youtube-4.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-Youtube-4.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-5"><a href="../img/fullsize/Youtube-9.jpg" title="Youtube"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-Youtube-9.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-8 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Freddo-Rua.jpg" title="Freddo | Cannes Lions - Ouro na categoria Print"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-freddo-rua.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-8"><a href="../img/fullsize/Freddo-Jardim.jpg" title="Freddo | Cannes Lions - Ouro na categoria Print"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-freddo-jardim.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-9"><a href="../img/fullsize/Freddo-Escada.jpg" title="Freddo | Cannes Lions - Ouro na categoria Print"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-freddo-escada.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Claro-3.jpg" title="NetClaro"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-claro-3.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-8"><a href="../img/fullsize/Claro-4.jpg" title="NetClaro"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-claro-4.jpg" alt="" class="img-responsive"></a></div>
          <div class="grid-item--1 item-9"><a href="../img/fullsize/Claro-1.jpg" title="NetClaro"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-claro-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Tresemme-1.jpg" title="Tresemmé"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-tresemme-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Tresemme-2.jpg" title="Tresemmé"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-tresemme-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-12 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Itau.jpg" title="Itaú"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-itau.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Azul-Linhas-Aereas.jpg" title="Linhas aéreas Azul"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-azul-linhas-aereas.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-8 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Azul-Linhas-Aereas-2.jpg" title="Linhas aéreas Azul"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-azul-linhas-aereas-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-12 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/serasa-4.jpg" title="Serasa"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-serasa-4.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-12 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/serasa-5.jpg" title="Serasa"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-serasa-5.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-12 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Samsung-Olimpiadas-3.jpg" title="Samsung"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-samsung-olimpiadas-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-12 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Samsung-Olimpiadas-4.png" title="Samsung"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-Samsung-Olimpiadas-4.JPG" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/hyundai-1.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-hyundai-1.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-6 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Hyundai-3.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-hyundai-3.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-8 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/hyundai-2.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-hyundai-2.jpg" alt="" class="img-responsive"></a></div>
        </div>
        <div class="col-xs-4 no-padding">
          <div class="grid-item--1 item-7"><a href="../img/fullsize/Hyundai-4.jpg" title="Hyundai pós-venda"><img src="../img/producao-e-styling-publicidade-mobile/REDMOB-hyundai-4.jpg" alt="" class="img-responsive"></a></div>
        </div>
      </div>
    </section>

    <!-- teste -->
    <!-- jQuery -->
    <script src="../js/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../js/scrollreveal/scrollreveal.min.js"></script>
    <script src="../js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../js/classie.js"></script>
    <!-- Theme JavaScript -->
    <script src="../js/creative.min.js"></script>
</body>

</html>
